<% layout("/layouts/boilerplate")%>

<h1>Results of:<%=icon%></h1>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <%for(let list of filteredListings){%>
        <a href="/listings/<%=list._id%>" class="list-link">
            <div class="card col listing-card">
                <img src="<%=list.image.url%>" class="card-img-top" alt="listing-img" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                <p class="card-text">
                    <b><%=list.title%></b><br>
                    &#8377;<%=list.price.toLocaleString("en-IN")%>/night
                    <i class="item-gst"> +20% GST</i>
                </p>
                </div>
            </div>
        </a>
    <%}%>

</div>